.css-12i7wg6-MuiPaper-root-MuiDrawer-paper
{
    border-right: 1px solid rgb(230, 231, 231,0.1)!important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)!important;
    
}
.css-10hburv-MuiTypography-root{
    font-size: 0.9rem !important; 
}